jax==0.6.0
jaxlib==0.6.0
jax-cuda12-plugin==0.6.0
jax-cuda12-pjrt==0.6.0
numpy==1.26.4
scipy==1.14.1
flax==0.10.2
orbax-checkpoint==0.11.1
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvcc-cu12==12.8.93
nvidia-cublas-cu12==12.8.4.1
nvidia-cudnn-cu12==9.8.0.87
nvidia-cufft-cu12==11.3.3.83
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-nvjitlink-cu12==12.8.93
nvidia-nccl-cu12==2.31.2
augmax==0.3.4
beartype==0.19.0
chex==0.1.88
dm-tree==0.1.8
einops==0.8.0
equinox==0.11.10
etils[epath]==1.11.0
filelock==3.16.1
fsspec==2024.9.0
h5py==3.12.1
jaxtyping==0.2.36
ml-collections==1.0.0
msgpack==1.1.0
numpydantic==1.6.6
opencv-python==4.10.0.84
optax==0.2.4
pillow==11.1.0
pydantic==2.10.4
safetensors==0.4.5
sentencepiece==0.2.0
tensorstore==0.1.71
tqdm==4.67.1
tqdm-loggable==0.2
transformers==4.48.1
treescope==0.1.7
tyro==0.9.5
wandb==0.19.1
websockets==14.1
torch @ https://download.pytorch.org/whl/cpu/torch-2.6.0%2Bcpu-cp311-cp311-linux_x86_64.whl

pytest==8.3.4
